<head>
    <link rel="stylesheet" type="text/css" href="static/education.css">
</head>

<header class='masthead'>
    <p class='masthead-intro'> My </p>
    <h1 class='masthead-heading'> Education! </h1>
  </header>
  <section class="introduction-section">
      <h1>Introduction</h1>
      <p>I am a full time college student at UTRGV, studing computer science.</p>
      <p>I gradutated highschool in 2022 and earn my Assocites in computer science in 2021</p>
  </section>
  <section class="location-section">
      <h1>Schools I Attened </h1>
      <p> I attened PSJA Memorial ECHS. This highschool had dual enrollment meaning I took college classes while in highschool. </p>
      <p> Through this program I was able to attend South Texas Collge where I earned my Assocites before gradutating highschool.</p>
  </section>
  <section class="questions-section">
      <h1> Beyond High School</h1>
      <h2>Why I chose UTRGV</h2>
      <p>I chose UTRGV beacuase of the location. I live here in the valley and wasnt sure if I wanted to go out. </p>
      <p>I was consdering attending UT Austin but decided not to, I am happy with my decision as this past year has been great!  </p>

      <h2>Educational Achivements </h2>
      <p>With attending UTRGV I recived a 4 year renewable scholarship worth $20,0000.</p>
      <p>I am on the deans list for the computer science department, this has its benifits such as early registraion. </p>

      <h2>Volunteer work </h2>
      <p>Through my scholarship I am able to do Volunteer work as it is a requirememt. I have Volunteer in over 40 hours throughout this year. Managing and helping setup events, including VAMOS annual Golf Tournament.</p>
      <h2>Why I chose to Continue my Education</h2>
      <p>I chose to continue my education beacuase I loved the study of computer science, as mentioned I gradutated with my assocites in the field and loved the idea of being able to build anything I could think of. Including this site!</p>
  </section>
  
  <footer class="content-footer">
      <p> Learn more about me on my About Me page below:</p>
      <ul class="social">
          <a href='/about'> About Me</a>
      </ul>
    
  </footer>